@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 91% 60%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 20%;
    --input: 215 28% 17%;
    --ring: 217 91% 60%;
  }
 
  .light {
    --background: 220 17% 95%;
    --foreground: 220 13% 20%;
    --card: 0 0% 100%;
    --card-foreground: 220 13% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 13% 20%;
    --primary: 210 33% 60%;
    --primary-foreground: 210 33% 10%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 13% 20%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 13% 40%;
    --accent: 262 44% 73%;
    --accent-foreground: 262 44% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 85%;
    --input: 220 13% 85%;
    --ring: 210 33% 60%;
  }

  /* Custom Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 8px;
    height: 14px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--muted) / 0.5);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--muted-foreground) / 0.5);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--muted-foreground));
    background-clip: content-box;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
