@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 17% 95%;
    --foreground: 220 13% 20%;
    --card: 0 0% 100%;
    --card-foreground: 220 13% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 13% 20%;
    --primary: 210 33% 60%;
    --primary-foreground: 210 33% 10%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 13% 20%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 13% 40%;
    --accent: 262 44% 73%;
    --accent-foreground: 262 44% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 85%;
    --input: 220 13% 85%;
    --ring: 210 33% 60%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 33% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 262 44% 73%;
    --accent-foreground: 262 44% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 25%;
    --ring: 210 33% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
